
<br>
<br>
<%= link_to "Wikinimous", articles_path %>
<br>
<br>
<br>
<%= link_to "New article", new_article_path %>
<br>
<br>
<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<br>
<br>
<%= link_to "Edit article", edit_article_path(@article) %>
<br>
<br>
<%= link_to "Delete article", article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete '#{@article.title}'?" } %>
